@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f8fafc;

  --text-main: #0f172a;
  --text-muted: #475569;

  --brand-primary: #0284c7;
  --brand-secondary: #06b6d4;

  --nav-bg: rgba(255, 255, 255, 0.8);
}

body {
  background-color: var(--bg-primary);
  color: var(--text-main);
  font-family: 'Inter', sans-serif;
}

@keyframes marquee-seamless {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-super-fast {
  animation: marquee-seamless 13s linear infinite;
  display: flex;
  width: max-content;
}

/* Smooth gradient text for specific words */
.text-gradient-purple {
  background: linear-gradient(to right, #a855f7, #6366f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #A855F7;
}